<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    Who would you like to chat with?<br/>
    {% for user_description, room in available_user_chat_rooms %}
        <ul>
            <li><a href="{{room.get_absolute_url}}">{{user_description}}</a></li>
        </ul>
    {% endfor %}
</body>
</html>
